[user]
    name = Farzad Ghanei
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
[color]
    ui = auto
    diff = auto
    branch = auto
    status = auto
